<!-- 
<nav class="navbar" style='position:fixed;top:0;width:100%;z-index:2;padding:8px;background-color:deepskyblue;'>
    <div class="container-fluid .justify-content-center" style='display: flex; flex-direction:column;justify-content: center;'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'moviesite' %}" style='color:black;font-weight: bold;text-shadow: 2px 2px #ff0000;'> MyGallery</a>
      
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style='color:black' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Language
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for language in languages %}
                <a class="dropdown-item" style='color:black' href="/language/{{language.id}}">{{language.name}}</a><br>
                {% endfor %}
              </div>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style='color:black' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for category in categories %}
                <a class="dropdown-item" style='color:black' href="/category/{{category.id}}">{{category.name}}</a><br>
                {% endfor %}
              </div>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style='color:black' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Status
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for status in statuses %}
                <a class="dropdown-item" style='color:black' href="/status/{{status.id}}">{{status.name}}</a><br>
                {% endfor %}
              </div>
            </li>
        </ul>
        <div class='col-md-5'></div>
        <div class="navbar navbar-nav navbar-center col-md-4" style='text-align:center;'>
          <form class="form" role="search" action="{% url 'search_results' %}">
              <input type="text" class="form-control" placeholder="Search by title"name="title">
          </form>
        </div>
    </div></div></div>
  </nav> -->

  {% load static%}
  <header class="header">
    <figure class="logo"><a href="{% url 'moviesite' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"></figure></a>
    <nav class="menu">
        <ul>
            <li><a href="{% url 'moviesite' %}">Home</a></li>
            <li><a>Genres</a>
                <ul>
                    {% for category in categories %}
                    <li><a href="/category/{{category.id}}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li><a>Language</a>
                <ul>
                    {% for language in languages %}
                    <li><a href="/language/{{language.id}}">{{language.name}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="mobsearch">
                <form class="mobform" action="{% url 'search_results' %}">
                    <input type="text" name="s" class="mobsearchfield" placeholder="Search...">
                    <input type="submit" value="" class="mobsearchsubmit">
                </form>
            </li>
        </ul>
    </nav>
    <form class="search" action="{% url 'search_results' %}">
        <input type="text" name="s" class="searchfield" placeholder="Search...">
        <input type="submit" value="" class="searchsubmit">
    </form>

    <div class="toggle"><img src="{% static 'img/menu.svg'%}"></div>
</header>